
<!-- Blog Area-->
<div class="apland-blog-area section_padding_130">
  <div class="container">
    <div class="row justify-content-between">
      <%= render partial: 'sidebar' %>
      <div class="col-12 col-md-7">
      <% if @blogs.present? %>  
        <!-- Single Blog Post Area-->
        <% @blogs.each do |blog| %>
        <div class="single-blog-post mb-5">
          <div class="post-date"><%= blog.created_at.strftime("%b %d, %Y") %></div><a class="post-title" href="<%= blog_path(blog.slug) %>"><%= blog.title %></a><img class="post-thumbnail" src="<%= image_path(blog.image) %>" alt="">
          <div class="post-meta"><a class="post-author" href=""><%= blog.author_name %></a><a class="post-tutorial" href="<%= category_path(blog.category.slug) %>"><%= blog.category.name %></a></div>
          <p><%= blog.body.html_safe %></p><a class="btn apland-btn mt-3" href="<%= blog_path(blog.slug) %>">Continue Reading</a>
        </div>
        <% end %>
      <% else %>
        <h2>No blogs found!</h2>
      <% end %>    
        <!-- <div class="row">
          <div class="col-12">
            <div class="apland-blog-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i class="lni-chevron-left"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="lni-chevron-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/contact_us_today'%>