    <!-- Blog Area-->
    <div class="apland-blog-area section_padding_130_80">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-9 col-lg-8">
            <!-- Blog Post Area-->
            <div class="single-blog-post"><span class="post-date"><%= @blog.created_at.strftime("%b %d, %Y") %></span>
              <h1 class="mb-3"><%= @blog.title %></h1>
              <div class="post-meta mb-5"><a class="post-author" href="#"><%= @blog.author_name %></a><a class="post-tutorial" href="#"><%= @blog.category.name %></a></div><img class="post-thumbnail" src="<%= @blog.image %>" alt="">
              <p><%= @blog.body %></p>
            </div>
            <!-- Comments Area-->
            <!-- <div class="comment_area mb-50 clearfix">
              <h4 class="mb-4">03 Comments</h4>
              <ol> -->
                <!-- Single Comment Area-->
                <!-- li class="single_comment_area">
                  <div class="comment-content d-flex">
                    <div class="comment-author"><img src="img/advisor-img/testimonial-1.jpg" alt="author"></div>
                    <div class="comment-meta"><a class="post-date" href="#">27 Aug 2020</a>
                      <h6>Nazrul Islam</h6>
                      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p><a class="like mr-2" href="#">Like</a><a class="reply" href="#">Reply</a>
                    </div>
                  </div>
                  <ol class="children">
                    <li class="single_comment_area">
                      <div class="comment-content d-flex">
                        <div class="comment-author"><img src="img/advisor-img/testimonial-2.jpg" alt="author"></div>
                        <div class="comment-meta"><a class="post-date" href="#">Lim Sarah</a>
                          <h6>Nazrul Islam</h6>
                          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p><a class="like mr-2" href="#">Like</a><a class="reply" href="#">Reply</a>
                        </div>
                      </div>
                    </li>
                  </ol>
                </li> -->
                <!-- Single Comment Area-->
                <!-- <li class="single_comment_area">
                  <div class="comment-content d-flex">
                    <div class="comment-author"><img src="img/advisor-img/testimonial-1.jpg" alt="author"></div>
                    <div class="comment-meta"><a class="post-date" href="#">27 Aug 2020</a>
                      <h6>Riyadh Khan</h6>
                      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p><a class="like mr-2" href="#">Like</a><a class="reply" href="#">Reply</a>
                    </div>
                  </div>
                </li>
              </ol>
            </div> -->
            <!-- Leave A Reply-->
            <br>
            <div class="contact-area mb-50">
              <h4 class="mb-4">Leave A Comment</h4>
              <!-- Form-->
              <form class="contact_from" action="#" method="post">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <input class="form-control mb-30" type="text" name="message-name" placeholder="Your Name">
                  </div>
                  <div class="col-12 col-lg-6">
                    <input class="form-control mb-30" type="email" name="message-email" placeholder="Email">
                  </div>
                  <div class="col-12">
                    <textarea class="form-control mb-30" name="message" cols="30" rows="10" placeholder="Type your comments..."></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn apland-btn" type="submit">Post Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>