<p id="notice"><%= notice %></p>

<h1>Enquiries</h1>

<table class="table">
  <thead>
    <tr>
      <th width="30%">Subject</th>
      <th width="30%">Message</th>

      <th>Name</th>
      <th>Phone</th>
      <th>Recieved At</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.subject %></td>
        <td><%= enquiry.message %></td>
        
        <td><%= enquiry.name %></td>
        <td><%= enquiry.phone %></td>
        <td><%= enquiry.created_at.strftime('%d %b, %Y') %></td>

        <td><%= link_to 'Show', [:admin, enquiry] %> | <%= link_to 'Destroy', [:admin, enquiry], method: 'delete', data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
