<!-- Breadcrumb Area-->
    
    <!-- Service Area-->
    <div class="service-area section_padding_130_80">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">              
              <h2>The Mjenzi Backup Service automates enterprise data backup to a secure cloud protecting against most disaster scenarios.</h2>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              
              <h3>Baas <span>Features.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
          <div class="col-12 col-lg-12">
            <div class="row">
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-user-circle"></i>
                  <a class="post-title" href="#"><h4>Simple & lightweight backup portal.</h4></a>
                  <p>We install our backup tool to your Windows, Mac or Linux and schedule automatic backups to our secure cloud. Recover data at any time, from anywhere.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-database"></i>
                  <a class="post-title" href="<%= digital_path %>"><h4>API access</h4></a>
                  <p>What’s a cloud platform without a documented API functionality? Administer your backups or restores via a fully-documented API right from your CLI.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-usd"></i>
                  <a class="post-title" href="<%= internet_path %>"><h4>Data Types Protected</h4></a>
                  <p>The Mjenzi Backup Service automates backups for common files &amp; folders, mail &amp; calendar servers (MS Exchange), program outputs, databases (MySQL), Windows Server System Statem, Windows System Backup, MS SQL Server &amp; Application Aware Writer.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-check-square"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Secure by Design</h4></a>
                  <p>The Backup Service defaults to encrypted storage vaults and has two-factor authentication built-in for added security.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-first-order"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Simple pricing model with below-industry rates</h4></a>
                  <p>The best pricing around for secure cloud backups you can control. Pay per device connected against our established storage tiers.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-handshake"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Agility in Management</h4></a>
                  <p>We have designed the backup solution to fit within your enterprise architecture. Manage on-site and off-site backup rules as you require and our tool is S3-compatible!</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Mjenzi Backup Service Pricing Tiers<span>.</span></h3>
              <div class="line ml-0"></div>
              <br>
               <div class="table-responsive">
                <table>
                  <tr>
                    <th style="visibility:hidden;"></th>
                    <th>MINIMAL</th>
                    <th>MEDIUM</th>
                    <th>LARGE</th>
                    <th>ENTERPRISE</th>
                  </tr>
                  <tr>
                    <th>DATA STORED</th> 
                    <td>0 - 100 GB</td>
                    <td>100 - 500 GB</td>
                    <td>500 - 1 TB</td>
                    <td>1 TB ></td>
                  </tr>
                  <tr>
                    <th>NETWORK USAGE</th> 
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">Free downloads under fair use *</td>
                  </tr>
                  <tr>
                    <th>OPERATIONS</th> 
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">Unlimited API requests</td>
                  </tr>
                  <tr>
                    <th>DEVICE CHARGE</th>  
                    <td colspan="4" style="text-align: center;background-color: #f2f2f2">US$5 flat fee per unique device **</td>
                  </tr>
                  <tr>
                    <th style="padding-left: 4px;padding-right: 4px;">MONTHLY BACKUP COST PER DEVICE</th>  
                    <td>US$9</td>
                    <td>US$17</td>
                    <td>US$25</td>
                    <td>US$28 Per TB</td>
                  </tr>
                  <tr>
                    <th>ANNUAL BACKUP COST PER DEVICE</th>  
                    <td style="background-color: #070a57;color: white;">US$108</td>
                    <td style="background-color: #070a57;color: white;">US$204</td>
                    <td style="background-color: #070a57;color: white;">US$300</td>
                    <td style="background-color: #070a57;color: white;">US$336 Per TB</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: center;
        padding: 8px;
      }

      tr:hover {background-color: #f5f5f5;}

      th {
        background-color: #070a57;
        color: white;
        padding: 18px;
        border-right-style: solid;
      }
    </style>