<div class="service-area section_padding_130_80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">              
          <h2>We are built for the Managed Service Providers, Resellers and IT Providers.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="section_heading">
          
          <h3>Baas <span>Features.</span></h3>
          <div class="line ml-0"></div>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div class="row">
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-user-circle"></i>
              <a class="post-title" href="<%= web_design_path %>"><h4>Ease of Use & feature-full admin panel.</h4></a>
              <p>We bottle in our cloud the following features to make Mjenzi Cloud an easy solution for wholesalers.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-database"></i>
              <a class="post-title" href="<%= digital_path %>"><h4>API access</h4></a>
              <p>What’s a cloud platform without baked in API access? Administer your provisioned accounts or individual instances right from the CLI.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-usd"></i>
              <a class="post-title" href="<%= internet_path %>"><h4>Unbeatable Cost Margins</h4></a>
              <p>Achieve 30% to 60% while selling below current major cloud provider rates. - Instantly add net-new recurring cloud revenue streams to your business.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-check-square"></i>
              <a class="post-title" href="<%= big_data_path %>"><h4>No Capex</h4></a>
              <p>Launch your own enterprise-grade cloud services with no heavy upfront financial commitment or contracts.</p>
            </div>
          </div>
          <!-- Single Service Area-->
          <div class="col-12 col-sm-4">
            <div class="single-service-area mb-50"><i class="fa fa-first-order"></i>
              <a class="post-title" href="<%= big_data_path %>"><h4>White-label Solution</h4></a>
              <p>Allow you to customise the platform to fit your brand & pricing. Use your colours logos, custom domain & integrate pricing within our platform.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Pricing<span>.</span></h3>
              <div class="line ml-0"></div>
              <br>
              <table>
                <tr>
                 <th style="visibility:hidden;">
                   <th>MINIMAL</th>
                   <th>MEDIUM</th>
                   <th>LARGE</th>
                   <th>ENTERPRISE</th>
                 </tr>
                 <tr>
                   <th>DATA STORED</th> 
                   <td>0 - 100 GB</td>
                   <td>100 - 500 GB</td>
                   <td>500 - 1 TB</td>
                   <td>1 TB ></td>
                 </tr>
                 <tr>
                   <th>NETWORK USAGE</th> 
                   <td colspan="4" style="text-align: center;background-color: #f2f2f2">Free downloads under fair use *</td>
                 </tr>
                 <tr>
                  <th>OPERATIONS</th> 
                  <td colspan="4" style="text-align: center;background-color: #f2f2f2">Unlimited API requests</td>
                </tr>
                <tr>
                 <th>DEVICE CHARGE</th>  
                 <td colspan="4" style="text-align: center;background-color: #f2f2f2">US$5 flat fee per unique device **</td>
               </tr>
               <tr>
                 <th style="padding-left: 4px;padding-right: 4px;">DATA STORAGE COST PER MONTH</th>  
                 <td>US$4</td>
                 <td>US$12</td>
                 <td>US$20</td>
                 <td>US$23 Per TB</td>
               </tr>
               <tr>
                 <th>TOTAL COST FOR 1 DEVICE PER MONTH</th>  
                 <td style="background-color: #070a57;color: white;">US$9</td>
                 <td style="background-color: #070a57;color: white;">US$17</td>
                 <td style="background-color: #070a57;color: white;">US$25</td>
                 <td style="background-color: #070a57;color: white;">US$28 Per TB</td>
               </tr>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<%= render partial: 'shared/contact_us_today'%>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  tr:hover {background-color: #f5f5f5;}

  th {
    background-color: #070a57;
    color: white;
    padding: 18px;
    border-right-style: solid;
  }
</style>