<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Cloud Solutions</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Service Area-->
    <div class="service-area section_padding_130_80">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="section_heading">
              
              <h3>Cloud <span>Solutions.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="row">
              <!-- Single Service Area-->
              <div class="col-12 col-sm-6">
                <div class="single-service-area mb-50"><i class="fa fa-desktop"></i>
                  <a class="post-title" href="<%= web_design_path %>"><a href='/cloud_solutions/retail_cloud'><h4>Retail / Wholesale Cloud</h4></a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-6">
                <div class="single-service-area mb-50"><i class="fa fa-mobile"></i>
                  <a class="post-title" href="<%= digital_path %>"><a href='/cloud_solutions/backup_cloud'><h4>Backup-as-a-Service</h4></a>
                  <p>A simple file and application backup system for your particular use cases.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-12">
                <div class="single-service-area mb-50"><i class="fa fa-camera"></i>
                  <a class="post-title" href="<%= internet_path %>"><a href='/cloud_solutions/other_cloud'><h4>Other Cloud Services</h4></a>
                  <p>Mjenzi helps organisations make sense of IoT through seamless integration development, strategy advisory and associated data analytics.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>
<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Cloud Solutions</h2>
              <p>For 5 years we have been developing for providing better services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog Area-->
    <div class="apland-blog-area section_padding_130">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Our Cloud <span>Solutions.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/1.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= retail_cloud_path %>"></div>
                <h2 style="text-align: center;">Retail/Wholesale Cloud</h2><a class="btn continue-btn" href="<%= retail_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/2.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= backup_cloud_path %>"></div>
                <h2 style="text-align: center;">Backup-as-a-Service</h2><a class="btn continue-btn" href="<%= backup_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/3.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= other_cloud_path %>"></div>
                <h2 style="text-align: center;">Managed Cloud Solutions</h2><a class="btn continue-btn" href="<%= other_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/contact_us_today'%>