<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Blog Card</h2>
              <p>For 5 years we have been developing for providing better services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog Area-->
    <div class="apland-blog-area section_padding_130">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Our Cloud <span>Solutions.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/1.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= retail_cloud_path %>"></div>
                <h2 style="text-align: center;">Retail/Wholesale Cloud</h2><a class="btn continue-btn" href="<%= retail_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/2.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= backup_cloud_path %>"></div>
                <h2 style="text-align: center;">Backup-as-a-Service</h2><a class="btn continue-btn" href="<%= backup_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
          <!-- Single Post Area-->
          <div class="col-12 col-md-12">
            <div class="single--post--area mb-30"><img src="<%= image_path("apland/blog-img/3.jpg") %>" alt="">
              <!-- Post Content-->
              <div class="post-content d-flex justify-content-between">
                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="<%= other_cloud_path %>"></div>
                <h2 style="text-align: center;">Managed Cloud Solutions</h2><a class="btn continue-btn" href="<%= other_cloud_path %>" style="align-self: center;">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'contact_us_today'%>