<section class="hero-barishal welcome_area" id="home">
  <!-- Background Shape-->
  <div class="background-shapes">
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>
    <div class="dot1"></div>
    <div class="dot2"></div>
    <div class="dot3"></div>
    <div class="dot4"></div>
    <div class="heart1"><i class="lni-heart"></i></div>
    <div class="heart2"><i class="i lni-heart"></i></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </div>
  <div class="container h-100">
    <div class="row h-100 justify-content-between align-items-center">
      <div class="col-12 col-md-6">
        <div class="welcome_text_area">
          <h2 class="wow fadeInUp" data-wow-delay="0.2s">Mjenzi <span>Cloud</span><span></span></h2>
          <h5 class="wow fadeInUp" data-wow-delay="0.3s">Mjenzi Cloud is an end-to-end premium hosted cloud platform bringing enterprise cloud infrastructure within reach! We worry about the infrastructure, while you take care of your business - however big or small, retail or wholesale!
            <br>
            <br>
          Mjenzi is Swahili for builder! Build your cloud with us today!</h5><a class="btn apland-btn mt-30 wow fadeInUp" href="/cloud_solutions" data-wow-delay="0.4s">Our Cloud Solutions</a><a class="btn apland-btn btn-2 mt-30 ml-2 wow fadeInUp" href="<%= contact_us_path %>" data-wow-delay="0.5s">Get Started Today</a>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-md-5">
        <div class="welcome_area_thumb text-center wow fadeInUp" data-wow-delay="0.2s"><img src="<%= image_path("apland/bg-img/hero-2.png") %>" alt=""></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="welcome-border"></div>
  </div>
</section>
<!-- Features Area-->
<section class="using_benefits_area section_padding_130" id="benefits">
  <!-- Benefit Top Background-->
  <div class="benefit-top-thumbnail"><img src="<%= image_path("apland/core-img/video-bottom.png") %>" alt=""></div>
  <!-- Benefit Top Background-->
  <div class="benefit-bottom-thumbnail"><img src="<%= image_path("apland/core-img/benefit-bottom.png") %>" alt=""></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-10">
        <!-- Section Heading-->
        <div class="section_heading white text-center wow fadeInUp" data-wow-delay="0.2s">
          <h6 style="margin-bottom: 2rem;">Differentiating Features</h6>
          <h5 style="color: #ffffff;">We are able to bottle enterprise-grade infrastructure with the performance and security of the larger cloud providers in town while managing to not break the bank and still deliver a highly flexible cloud platform.
            <br><br>
          We are primarily an Infrastructure-as-a-Service cloud provider focusing on delivering the best cloud technology for most business use cases.</h5>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-code"></i></div>
          <div class="benifits_text">
            <h5>Enterprise-grade performance at below market prices</h5>
            <p>We are able to deliver an innovative and unique Infrastructure-as-a-Service cloud platform at the best price/performance ratios on the market. Deploy our easy-to-use cloud platform for all your cloud workloads today.</p>
          </div>
        </div>
      </div>
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-lock"></i></div>
          <div class="benifits_text">
            <h5>Unmarched wholesale rates</h5>
            <p>Achieve 30-60% off the larger incumbent clouds while delivering a premium IaaS cloud, all completely white-label and delivered via a purpose-built wholesale admin panel or API. Calling all managed service providers and value-added resellers!</p>
          </div>
        </div>
      </div>
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-cog"></i></div>
          <div class="benifits_text">
            <h5>Feature-full IaaS Platform</h5>
            <p>Our cloud infrastructure platform is API-ready, fully software-defined, flexibly decouple your storage/memory/networking specs, pay-as-you-use, Windows licensing & multiple Linux images, highly scalable & reliable storage.</p>
          </div>
        </div>
      </div>
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-desktop"></i></div>
          <div class="benifits_text">
            <h5>Our infrastructure brilliance</h5>
            <p>Fully software-defined networking that ensures security, performance and resilience while being cost-efficient, distributed storage networking baked in to enable seamless scaling, flexible L2 networking, hyperconverged VM technology. Unparalleled infrastructure brilliance that’s been purpose-built to perform!</p>
          </div>
        </div>
      </div>
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-cloud"></i></div>
          <div class="benifits_text">
            <h5>Cloud strategy consulting</h5>
            <p>Besides the awesome cloud tech, Mjenzi Cloud has seasoned consultants who can work with you to demystify your end-to-end cloud journey. Whether it’s a digital deep dive, a cloud maturity assessment or a cloud migration strategy, we will work with you to drive your digital and cloud transformation.</p>
          </div>
        </div>
      </div>
      <!-- Single Benifits Area-->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="single_benifits d-flex wow fadeInUp" data-wow-delay="200ms">
          <div class="icon_box"><i class="fa fa-wrench"></i></div>
          <div class="benifits_text">
            <h5>End-to-end Cloud Solutions</h5>
            <p>Although our main focus as Mjenzi Cloud is IaaS Cloud, we have bundled together selected cloud innovations to suit the most common use cases for you. From our in-house Backup-as-a-Service solution to voice & networking to VMWare to bare-metal services and to remote desktop virtualisation, we have your cloud needs covered.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work Process Area-->
<section class="work_process_area section_padding_130_80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center">
          <h3>How do we <span>work at Mjenzi Cloud?</span></h3>
          <p>Mjenzi Cloud aims to fit within most cloud use cases, no matter the size or power requirements.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <!-- Single Work Step-->
      <div class="col-12 col-sm-4 col-md-3">
        <div class="single_work_step">
          <div class="step-icon"><i class="lni-cloud-download"></i></div>
          <h5>Assess your current cloud needs</h5>
          <p>An assessment of existing infrastructure, cloud requirements &amp; use cases.</p>
        </div>
      </div>
      <!-- Single Work Step-->
      <div class="col-12 col-sm-4 col-md-3">
        <div class="single_work_step">
          <div class="step-icon"><i class="lni-paint-bucket"></i></div>
          <h5>Provision against requirements</h5>
          <p>We work with you to fulfil your cloud needs.</p>
        </div>
      </div>
      <!-- Single Work Step-->
      <div class="col-12 col-sm-4 col-md-3">
        <div class="single_work_step">
          <div class="step-icon"><i class="lni-bolt-alt"></i></div>
          <h5>Support your cloud capability</h5>
          <p>We support your cloud infrastructure as you focus on your business.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="border-top"></div>
</div>
<!-- Testimonial Area-->
<section class="testimonial_area section_padding_130">
  <!-- Testimonial Top Thumbnail-->
  <div class="testimonial-top-thumbnail"><img src="<%= image_path("apland/core-img/testimonial-top.png") %>" alt=""></div>
  <!-- Testimonial Bottom Thumbnail-->
  <div class="testimonial-bottom-thumbnail"><img src="<%= image_path("apland/core-img/testimonial-bottom.png") %>" alt=""></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading white text-center">
          <h3>Our Happy Clients</h3>
          <p>Mjenzi Cloud has transformed cloud journeys of a variety of clients small to large.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-9 col-lg-7">
        <div class="card border-0 p-4 p-sm-5 testimonials owl-carousel">
          <!-- Single Testimonial Area-->
          <div class="single_testimonial_area text-center">
            <div class="testimonial_author_thumb"><img src="<%= image_path("apland/advisor-img/testimonial-1.jpg") %>" alt=""></div>
            <div class="testimonial_text">
              <p>You continue to seamlessly power our ecommerce coffee store and provide a reliable and easy to use cloud backup service. Thank you very much for your great service!</p>
              <div class="rating"><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i></div>
              <div class="testimonial_author_name">
                <h5>Founder, Ameru Coffee</h5>
              </div>
            </div>
          </div>
          <!-- Single Testimonial Area-->
          <div class="single_testimonial_area text-center">
            <div class="testimonial_author_thumb"><img src="<%= image_path("apland/advisor-img/testimonial-2.jpg") %>" alt=""></div>
            <div class="testimonial_text">
              <p>Awesome &amp; amazing cloud IaaS platform. A cut from the rest with its simplicity yet extensive agility.</p>
              <div class="rating"><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i><i class="lni-star-filled"></i></div>
              <div class="testimonial_author_name">
                <h5>Jannatun Lima</h5>
                <h6>CEO &amp; Founder, Designing World</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Advisor Area-->
<section class="our_advisor_area section_padding_130_80" id="advisor">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s">
          <h3>Our Cloud <span> Team</span></h3>
          <p>At Mjenzi Cloud, the customer is at the center of what we do. We call ourselves Wajenzi, which in Swahili means builders. We are in the business of building cloud solutions for the enterprise of today.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</section>
<!-- Map Area-->
<div class="map_contact_address_area" id="contact">
  <div class="map_area" id="googleMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d226713.24567571492!2d150.95867385394192!3d-33.861809880709885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1597603750349!5m2!1sen!2sin" allowfullscreen></iframe>

  </div>
</div>
