<!-- Breadcrumb Area-->
    <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url('<%= image_path("apland/bg-img/testimonials.jpg") %>');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-xl-6">
            <div class="breadcrumb-content text-center">
              <h2>Retail/Wholesale Cloud</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Area-->
    <div class="service-area section_padding_130_80">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">              
              <h2>Retail Cloud - Public, Private or Hybrid. 
                <br>
              Deploy your virtual machine with us.</h2>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              
              <h3>Cloud Platform <span>Features.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
          <div class="col-12 col-lg-12">
            <div class="row">
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-desktop"></i>
                  <a class="post-title" href="<%= web_design_path %>"><h4>A Complete Out-of-the-Box Solution</h4></a>
                  <p>A turnkey suite of enterprise cloud infrastructure quickly. Easily branded/brought to market with full control.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-cloud"></i>
                  <a class="post-title" href="<%= digital_path %>"><h4>Extreme Performance/Resilience</h4></a>
                  <p>A fully redundant, self-healing cloud platform with markedly better performance/resilience vs. AWS, Azure, GCE.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-archive"></i>
                  <a class="post-title" href="<%= internet_path %>"><h4>Breakthrough Tech</h4></a>
                  <p>Mjenzi Cloud is built by unique hyperconverged architecture that reduces DC footprint (power/hardware) 50%+ for sustainable cost advantages.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-database"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Software-Defined Datacenter</h4></a>
                  <p>Virtualize everything, use IT-as-a-Service to gain infinite scalability hosted in our top-tier global datacenters or yours.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-usd"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Price/Performance</h4></a>
                  <p>Innovative/unique design delivers the best ratios on the market.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-bullhorn"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Flexibility</h4></a>
                  <p>Decoupling of Memory / Storage/ Network components. Not locked down to fixed ratio plans.</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-bolt"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Pure Flash Storage</h4></a>
                  <p>Private L2 Networks & separate public networks. Both Windows/Linux support, self Healing, auto failover & reliability Infiniband!</p>
                </div>
              </div>
              <!-- Single Service Area-->
              <div class="col-12 col-sm-4">
                <div class="single-service-area mb-50"><i class="fa fa-bar-chart"></i>
                  <a class="post-title" href="<%= big_data_path %>"><h4>Consistency of performance</h4></a>
                  <p>Excellent Support customer success over $$ philosophy.</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-12">
            <div class="section_heading">
              <h3>Calculator<span>.</span></h3>
              <div class="line ml-0"></div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'contact_us_today'%>