<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table class="table">
  <thead>
    <tr>
      <th width="60%">Title</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_blogs.each do |admin_blog| %>
      <tr>
        <td><%= admin_blog.title %></td>
        <td><%= admin_blog.category.name %></td>
        <td><%= link_to 'Show', admin_blog %> | <%= link_to 'Edit', edit_admin_blog_path(admin_blog) %> | <%= link_to 'Destroy', admin_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_admin_blog_path, class: 'btn btn-success' %>
