<!-- Footer Area-->
<footer class="footer_area section_padding_130_0">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Footer Logo-->
          <div class="footer-logo mb-3" style="width: 24%;"><a href="/"><img src="<%= image_path("apland/mjenzi_logo.jpg") %>" alt=""></a></div>
          <p>Mjenzi Cloud is an end-to-end premium hosted cloud platform that brings virtual compute, storage and networking infrastructure within reach.</p>
          <!-- Copywrite Text-->
          <div class="copywrite-text mb-5">
            <p class="mb-0">ALL RIGHTS RESERVED. COPYRIGHT © 2020.</a></p>
          </div>
          <!-- Footer Social Area-->
          <div class="footer_social_area"><a href="https://www.facebook.com/mjenzi" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a><a href="https://github.com/mjenzi" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github"></i></a><a href="https://linkedin.com/company/mjenzi-pty-ltd" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a><a href="https://twitter.com/mjenzi_tech" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Quick Links</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><%= link_to "Cloud Solutions", '/cloud_solutions' %></li>
              <li><%= link_to "About Us", about_us_path %></li>
              <li><%= link_to "Faqs", faq_path %></li>
              <li><%= link_to "Blog", blogs_path %></li>
              <li><%= link_to "Get Started Today", contact_us_path %></li>
              <li><%= link_to "Mjenzi Cloud IaaS Platform", 'https://cloud.mjenzi.com/' %></li>
              <li><%= link_to "Mjenzi Backup Service", 'https://backup.mjenzi.com/' %></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contact Info</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="https://mjenzi.com/"><i class="fa fa-map-marker"></i> Sydney, Australia / Gaborone, Botswana / Nairobi, Kenya</a></li>
              <li><a href="mailto:cloud@mjenzi.com"><i class="fa fa-envelope"></i> cloud@mjenzi.com</a></li>
              <li><a href="tel:+61405342017"><i class="fa fa-phone"></i> +61 405 342 017 </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>