
    <!-- Preloader-->
    <div id="preloader">
      <div class="apland-load"></div>
    </div>
    <!-- Header Area-->
    <header class="header_area white-nav">
      <div class="main_header_area">
        <div class="container">
          <div class="classy-nav-container breakpoint-off">
            <nav class="classy-navbar justify-content-between" id="aplandNav">
              <!-- Logo--><a class="nav-brand" href="/" style="width: 7%;"><img src="<%= image_path("apland/mjenzi_logo.jpg") %>" alt=""></a>
              <!-- Navbar Toggler-->
              <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span></span></div>
              <!-- Menu-->
              <div class="classy-menu">
                <!-- Close Button-->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav-->
                <div class="classynav">
                  <ul id="corenav">
                    <% if user_signed_in? && current_user.admin? && params['controller'].include?('admin') %>
                      <li><a href="<%= admin_blogs_url %>">Blogs</a></li>
                      <li><a href="<%= admin_categories_url %>">Categories</a></li>
                      <li><a href="<%= destroy_user_session_url %>" method='delete'>Log Out</a></li>
                    <% else %>
                      <li><a href="<%= root_path %>">Home</a></li>
                      <li><a href="<%= cloud_solutions_path %>">Cloud Solutions</a>
                       <ul class="dropdown">
                        <li><a href="<%= retail_cloud_path %>">Retail/Wholesale Cloud</a></li>
                        <li><a href="<%= backup_cloud_path %>">Backup-as-a-Service</a></li>
                        <li><a href="<%= other_cloud_path %>">Managed Cloud Solutions</a></li>
                       </ul>
                      </li>  
                      <li><a href="<%= faq_path %>">Faq<small>s</small></a></li>
                      <li><a href="<%= blogs_path %>">Blog</a></li>
                      <li><a href="<%= contact_us_path %>">Get Started Today</a></li>
                      <li><a href="https://cloud.mjenzi.com/" target="_blank">Platform Login</a></li>
                    <% end -%>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>